body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 15px;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}


.container figure img {
    height: 150px;
}

.menu-opcoes ul li::after {
    content: "|";
    margin-left: 20px;
    color: white;
}


.menu-opcoes {
    text-align: left;
    display: flex;
    word-spacing: 15px;
    margin: 10px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 0;
}


.menu-opcoes ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.menu-opcoes ul li {
    margin-left: 20px;
}


.menu-opcoes ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    transition: color 0.3s;
}


.menu-opcoes ul li a:hover {
    color: #c686ff;
}


.Aula01, .Blog{
    display: flex;
    background: linear-gradient(rgb(117, 117, 213), #a669dc);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.Painel {
    display: flex;
    width: 100%;
    margin-bottom: 400px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(117, 117, 213), #a669dc);
    border-radius: 10px;
    text-align: center;
}


.Painel img {
    width: 100%;
    max-width: 850px;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
}

.paineis {
    display: flex;
    gap: 30px;
    padding: 20px;
    min-height: 600px;
    align-items: stretch;
}


.Painel li {
    background-color: rgba(255, 255, 255, 0.8);
    transition: box-shadow 0.7s, transform 0.7s;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.Painel li:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    transform: scale(1.05) rotate(-3deg);
}

.Painel li figure img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.7s;
}


.Painel li:hover figure img {
    transform: scale(1.05);
}





footer{
    background-color: #c686ff;
    color: #7332ac;
    text-align: center;
    padding: 0px;
    width: 100%;
    height: 8%;
    position: fixed;
    bottom: 0;
}

footer li{
    display: inline-block;
    width: 100px;
}

footer a[href*="github"]{
    background-image: url("../contato/img/github\ \(1\).png");
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    

}

footer a[href*="linkedin"]{
    background-image: url("../contato/img/linkedin.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
}

footer a[href*="instagram"]{
    background-image: url("../contato/img/instagram.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
}
