.container{
  max-width: 50%;
}

header h1{
  text-align: center;
}

header img{
  max-width: 150%;
  height: auto;
}

header figure{
  display: flex;
  justify-content: center;
  margin: 0;
}

.menu-opcoes{
  position:static;
  text-align: center;
}
/* 6) Aumentar o espaço entre os links do menu-opcoes e atribuir a propriedade inline-block */
.menu-opcoes ul li {
  display: inline-block;
  margin-left: 20px; /* Aumenta o espaço entre os itens do menu */
}

/* 7) Tirar a margem direita com margin-right 0 e deixar um tamanho de largura de 100% para busca, menu-conteudo */
.busca, .menu-conteudo {
  width: 100%; /* Largura de 100% para ocupar toda a largura disponível */
  margin-right: 0; /* Remove qualquer margem à direita */
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(194, 186, 186);
  border-radius: 5px;
  border: 2px solid #ccc;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}

/* 8) Ajustar os tamanhos de largura automaticamente dos painéis aulas */
.painel {
  width: auto; /* A largura se ajusta automaticamente ao conteúdo */
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

/* 9) Aplicar um tamanho de 30% de largura para os itens do painel */
.painel li {
  width: 30%; /* Define a largura como 30% para os itens dentro do painel */
  margin: 5px; /* Ajusta a margem entre os itens */
  box-sizing: border-box; /* Para garantir que a margem e o padding sejam contabilizados corretamente */
}

/* 10) Aplicar um tamanho de 100% de largura para as imagens no painel */
.painel img {
  width: 100%; /* Faz com que as imagens ocupem toda a largura disponível do painel */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Remove qualquer espaço abaixo da imagem */
}
